#card-login{
    padding: 15px;
    max-width: 35%;
    margin:auto;
}
@media(min-width:992px){
    .main-panel{
        width: calc(100% - 203px);
    }
    .sidebar, .sidebar .sidebar-wrapper{
        width: 203px;
    }
    .sidebar .logo a.logo-mini{
        margin-left: 5px;
    }
}
@media (max-width: 1439px) {
    #card-login{
        max-width: 70%;
    }
}

#card-login form label i{
    margin-right: 5px;
}

#card-login form label,#card-login form input {
    font-size: 21px;
    margin-bottom: 0;
}
#card-login form label[for="password"],
#card-login form input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 0;
}

#card-login form input[type="password"], 
#card-login form input[type="text"],
#card-login form input[type="submit"] {
    font-size: 16px;
}

.card-title input, .card-title select{
    width: 100%;
    text-align: right;
    line-height: normal;
    margin-bottom: 10px;
}


.bt-update, .bt-add, .bt-del{
    display:inline-block;
    cursor: pointer;
}
.bt-update:hover{
    color:#51bcda !important;
    font-weight: bold;
}
.bt-add:hover{
    color:#6bd098 !important;
    font-weight: bold;
}
.bt-del:hover{
    color:#ef8157 !important;
    font-weight: bold;
}

.btn-act{
    width: 100%;
    color:#ffff !important;
}

.navbar-nav{cursor: pointer;}
li.active a p{font-weight: bold;}
.table-responsive, .sidebar .sidebar-wrapper{
    overflow:hidden;
}
.table-responsive{overflow-y: scroll; max-height:30em;}
#tbl-clients tbody{overflow:auto;}
#tbl-clients thead th{width: 22%}
.th-xsmall{max-width: 5%; font-size:9px !important}
.th-small{max-width: 10%}
.th-medium{max-width: 15%}
.th-large{max-width: 40%}
.td-act {padding: 9px 7px 2px 7px !important}
.td-act a{font-size:x-large; color:#212529}
.td-act a:hover{color: #51bcda}



.copyright a{
    color:#252525;
}